.header_bg {
	background: #28a1b1;
}

#banner {
 width: 100%;
}

/*ul {
	margin-top: 0;
	margin-bottom: 10px;
}*/

.mobile-menu {
	display: none;
	width: 100%;
	padding: 12px;
	background: #01579B;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.menu {
	display: block;
}

.menu li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	padding: 10px 24px;
	display: block;
	color: #ffffff;
}

.menu li {
	display: inline-block;
	position: relative;
	z-index: 100;
}

.logo {
	margin-top: 15px;
	float: left;
}

.h_menu {
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}

.signin {
	margin-top: 15px;
	float: right;
}

.signup {
	margin-top: 15px;
	float: right;
	margin-right: 10px;
}

.span1_of_1 {
    padding: 0;
}

.row-wrap{
  margin: 0 !important;
}

.khoahoc {
  background: #28a1b1;  
}

@media screen and (max-width: 2000px) {
  .maunen {
	background: #28a1b1;
	margin: auto;
	height: 500px;
  }	
  .doanvan {
  	text-decoration-color: blue;
  	font-size: 15px;
  }  
  .maunenk {
	background: #28a1b1;
	margin: auto;
	height: 320px;
  }	
} 

@media screen and (max-width: 780px) {
  .doanvan {
    display: none;	
  }  
  .maunen {
	background: none;
	margin: auto;
	height: 360px;
  }
  .khoahoc {
  	color: black;
  	background: none;
  }  
  .gia {
  	color: black;
  }  
}

@media screen and (max-width: 380px) {
  .doanvan {
    display: none;
  }  
}

.khung {
	padding: 10px;
	color: white;
}

.gia {
	text-align: right;
}

.maunenchan {
	background: #28a1b1;
	color: white;	
	padding: 0px;	
}

.lienhe {
	list-style: none;
}

.wrap {
	max-width: 1140px;
}

.tho {
	display: inline-block;
	width: 100%;
	background: #28a1b1;
	color: white;
	text-align: center;	
	padding: 10px;	
}

.giandong {
	line-height: 30px;
}

.trang {
  text-align: center;  
}

.allkhoahoc {
  margin-right: 20px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #003366; 
}

.maunenkh {
	background: #28a1b1;
}

.logo {
	margin-bottom: 10px;
}

.dk {
	margin-left: 5px;
}

#html {
	height: 300px;	
	width: 100%;
	float: left;	
}

/*#css {
	height: 300px;
	width: 30%;
	width: 100%;
	margin: 0 3% 0 3%;
	float: left;
}

#javascript {
	height: 300px;
	width: 30%;
	width: 100%;
	margin: 0 3% 0 3%;
	float: left;
}*/

#editor_html {
	height: 700px;
	border-style: double;
    border-width: thick;
}

.ketqua {
	border-style: double;
    border-width: thick;
    height: 700px;    	
}

a:hover { 
	text-decoration: none; 
} 

a {
	text-decoration: none; 
}

.gioithieukhc {
	background: #28a1b1;
	height: 350px;
}

.tenkhoahocc {
	color: #7A0EF5;
	text-align: center;
}

.tomtatkhoahocc {
	color: white;
	text-align: center;
	
	padding: 0px 100px 0px 100px;	
}

.tomtatkhoahocc1 {
	line-height: 25px;
}

.hocngay1 {
	margin-top: 15px;
	text-align: center;
}

.thanhtoan {
	text-align: left;
}

.thongtinc {
	background: #28a1b1;
	padding: 10px;		
}

.baihocc {
	text-align: center;
	color: white;	
}

.solieu {
	color: #7A0EF5;
}

.demokhoahocc {
	background: #28a1b1;
	color: white;
	padding: 10px 10px 10px 10px;
}

.demogiaotrinhc {
	background: #28a1b1;
	padding: 10px 10px 10px 10px;
}

.tieudegiaotrinh {
	color: white;
}

.hieuung.zoom-effect-container:hover {
	-webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.vs {
	display: inline-block;
	width: 30%;		
	padding: 10px;	
}

.anhtmt {
	padding-top: 20px;
}

.panel-heading {
	text-align: center;
}

.XP {
	text-align: center;
}

.TT {
	text-align: center;
}

.diemso {
	text-align: center;
}

.tieudebang {
	height: 50px;
}

.xuongty {
	margin-top: 6px;
}

.xuongty1 {
	margin-top: 10px;
}

.well {
	height: 550px;
}

#accordion {
	margin-left: 20px;
}





