

.wrap {
	max-width: 1200px;
}

.wrap nav {
	width: 100%;
}

#banner {
	width: 100%;
}


@media screen and (max-width: 990px) {
    .fix{
		height: 290px;
	}
}

@media screen and (max-width: 780px) {
    .fix{
		height: 150px;
	}
}