.header_bg {
	background: #01579B;
}

#banner {
 width: 100%;
}

.mobile-menu {
	display: none;
	width: 100%;
	padding: 12px;
	background: #528B86;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
}

.menu {
	display: block;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}

ul {
	margin-top: 0;
	margin-bottom: 10px; 
}

.logo {
	margin-top: 15px;
	float: left;
}

.menu li {
	display: inline-block;
	position: relative;
	z-index: 100;
}

.menu li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	padding: 10px 24px;
	display: block;
	color: #ffffff;
}

.h_menu {
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}

.signin {
	margin-top: 15px;
	float: right;
}

.signup {
	margin-top: 15px;
	float: right;
	margin-right: 10px;
}

.span1_of_1 {
    padding: 0;
}

.row-wrap{
  margin: 0 !important;
}

.khoahoc {
  background: #01579B;  
}

@media screen and (max-width: 2000px) {
  .maunen {
	background: #01579B;
	margin: auto;
	height: 500px;
  }	
  .doanvan {
  	text-decoration-color: blue;
  	font-size: 15px;
  }
} 

@media screen and (max-width: 780px) {
  .doanvan {
    display: none;
  }  
}

@media screen and (max-width: 380px) {
  .doanvan {
    display: none;
  }  
}

.khung {
	padding: 5px;
	color: white;
}

.gia {
	text-align: right;
}

.maunenchan {
	background: #01579B;
	color: white;	
	padding: 0px;	
}

ul {
	list-style: none;
}

.wrap {
	max-width: 1140px;
}












