.wrap {
	max-width: 1200px;}

#banner {
 width: 100%;}

a, a:hover { 
  text-decoration: none;}

.sign {
  text-align: right;}   

.fix {
  background: #80D8FF;}

.font {
  font: #01579B;}

.row-wrap{
  margin: 0 !important;}

@media screen and (max-width: 1280px) {
  .fix{
    height: 450px;
  }
} 

@media screen and (max-width: 770px) {
  .fix{
    height: 300px;
  }
  .display {
    display: none;
  }
  .sign {
    text-align: left;
  }
  .ratings {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .fix{
    height: 170px;
  }
  .display {
    display: none;
  }
  .sign {
    text-align: left;
  }
  .ratings {
    display: none;

  }
}

  











