#main-menu ul {
	position: absolute;
	background: #CE85D3;
	width: 250px;
	padding: 0
	text-align: left;
	list-style-type: none;
}

#main-menu li {
	width: auto;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e8e8e8;
	padding: 0 1em;

}

#main-menu li a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	display: block;
}

#main-menu li: hover {
	background: #CDE2CD;
}

#banner {
	text-align: center;
}

.wrap {
	width: 2000px;
	margin: auto;
}

#noidung {
	width: 1500px;
}