
* {

	box-sizing: border-box;
}

body {
	background-color: #E5E5E5;
	margin: 0;
	padding: 0;
}


#banner {
	text-align: center;
}

#tieude1 {
	color: red;
	text-align: center;
}

.gaixinh {
	text-align: center;
	float: left;
	margin: 6.6px;
}

.wrap {
	width: 1000px;
	margin: auto;
}

#main-menu {
	text-align: center;
}

.zoom-effect-container:hover .gaixinh img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}